.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  font-size: 19px;
}

.rightPanel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.leftPanel img {
  height: 44px;
}

.rightPanel button {
  padding: 12px 29px;
  background-color: rgb(82, 53, 244);
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;

  text-transform: capitalize;
}

.rightPanel input {
  background-color: #e101;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
}

.rightPanel a {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}
.rightPanel span {
  color: #ffffff;
  text-transform: capitalize;
}

.line {
  background-color: #d9d9d9;
  height: 0.1px;
  width: 100%;
}
