#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #9810fa;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 10px #9810fa, 0 0 5px #ad46ff;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 15px #9810fa, 0 0 10px #ad46ff;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none;
}
